@defer ( when !loading()) {
<div class="departamento-container">
    <div class="titulo-moneda">
        <h1>{{departamento?.nombre}}</h1>
        <app-elegir-moneda ></app-elegir-moneda>
    </div>
    @if (categorias()) {
    <ul class="categoria">
        <span class="title-busqueda">Categorías</span>
        @for (cat of categorias(); track $index) {
        <app-tarjeta-categoria [categoria]="cat"></app-tarjeta-categoria>
        <hr>

        }
    </ul>
    }

    <div class="productos-container">
        <span class="title-busqueda">Productos</span>
        @for (producto of productos(); track $index) {
        @defer (on viewport) {

        @if (!producto.idCategoria) {
        <app-tarjeta-producto [producto]="producto" ></app-tarjeta-producto>
        }
        }@placeholder{
        <app-loading [titulo]="'Cargando...'"></app-loading>
        }@error {
        <p>ERROR AL CARGAR!. INTENTE RECARGAR LA PÁGINA</p>
        }
        }
    </div>
    <a [routerLink]="[ '/departamentos']">Atrás</a>
</div>
}@placeholder {
<app-loading [titulo]="'Cargando...'"></app-loading>
}