<header class="header-container">
    <div id="cont-logo" 
    [routerLink]="[ 'departamentos' ]"> 
        <img class="image" src="logo-radius.png" alt="logo_ML">
    </div>
    <form #buscarForm="ngForm" (change)="buscar()">
        <div class="container-busqueda">
            <button type="submit" ><img class="icon" src="lupa.svg" alt="fav" ></button>
            
            <input type="text" name="texto" [(ngModel)]="busqueda.texto" placeholder="Buscar...">
        </div>
    </form>
    <!-- <p>{{busqueda.deacripcion}}</p> -->
</header>
