#producto-container{
    height: 100px;
    display: flex;
    background-color: #373737;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-producto{
    height: 100%;
    flex: 2;
    width: 25%;
    background-size: cover;
}

button{
    display: flex;
    cursor: pointer;
    width: 25px;
    padding: 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.wsp-icon{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

h4{
    /* font-weight: bold; */
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: large;
}

.disponible{
    text-align: end;
    background-color: aquamarine;
    padding: 3px;
    border-radius: 5px;
    p{
        color: black;
        font-size: small;
        }
}

.agotado{
    background-color: rgba(255, 0, 0, 0.788);
}


.detalles{
    display: flex;
    flex:3;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

/* .mas-detalles{

} */

#precio{
    text-align: end;
    font-size: medium;
}