<!-- @defer (on viewport ) { -->

@if (tieneStock()) {
<div id="producto-container">
    <img src="{{getImage()}}" alt="{{fullDescription()}}" class="img-producto">
    <div class="detalles">
        <div class="detalles-superior">

            <h4>{{producto.descripcion}}<span *ngIf="producto.codigo"> -{{producto.codigo}}</span></h4>
            <div class="detalles-botones">
                <button class="cart-button" (click)="agregarACarrito()" ><img class="cart-icon" src="addCart.svg" alt="carrito" ></button>
                <!-- <div class="monedas-container">
                    <label for="moneda" class="moneda">
                        <button (click)="cambiarMoneda()" class="moneda-check" id="moneda">
                            <span>{{moneda()?.siglas}} <span class="emoji">🔃</span></span>
                           
                        </button>
                    </label>
                </div> -->

            </div>
        </div>

        <div class="content">
            <div class="disponible" [ngClass]="{agotado: !tieneStock()}">
                @if (tieneStock() ) {
                <p>DISPONIBLE</p>
                }@else {
                <p>AGOTADO</p>
                }
            </div>

            <button class="wsp-button" (click)="informacion()"><img class="wsp-icon" src="whatsapp.png" alt="WhatsApp" ></button>


            @if (false) {
            <div class="mas-detalles">  
                @if (producto.codigo) {
                <div>
                    <p>Ref: {{producto.codigo}}</p>
                </div>
                }
            </div>
            }
            <p id="precio">${{precio()}}</p>
        </div>
    </div>
</div>
}
<!-- }@placeholder {
    <div class="l"></div>

} -->