#producto-container{
    height: 120px;
    display: flex;
    background-color: #373737;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.content{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.img-producto{
    height: 100%;
    flex: 2;
    width: 25%;
    background-size: cover;
}

.wsp-button{
    flex: 1;
    display: flex;
    cursor: pointer;
    max-width: 25px;
    padding: 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.cart-button{
    align-self: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-width: 25px;
    max-height: 25px;
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    border: none;
    background: white;  
    border-radius: 50%;
}



.wsp-icon{
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

.cart-icon{
    width: 80%;
    height: 80%;
    /* align-self: flex-start; */
}

h4{
    /* font-weight: bold; */
    flex: 3.7;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: large;
}

.disponible{
    flex: 1;
    display: flex;
    text-align: end;
    background-color: aquamarine;
    padding: 3px;
    border-radius: 5px;
    max-width: 90px;
    margin-right: 20px;
    p{
        margin: 0 auto;
        display: inline;
        color: black;
        font-size: small;
    }
}

.agotado{
    background-color: rgba(255, 0, 0, 0.788);
}


.detalles{
    display: flex;
    flex:3;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 5px 2px 8px;
}

.detalles-superior{
    display: flex;
    flex: 2.5;
}

.detalles-botones{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between
}

/* .mas-detalles{

} */

#precio{
    flex: 1;
    text-align: end;
    font-size: medium;
}



.moneda {
    display: flex;
    align-items: center;
  }
  
  span{
      color: white;
      /* margin-right: 5px; */
  }
  
  .btn-moneda {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .flecha {
    width: 15px;
  }
  
  .emoji{
    transform: var(--transform-e, rotate(180deg));
  }
  
  /* button{
    margin: 0;
    padding: 0;
    background-color: beige;
  } */
  
  .moneda-check {
    /* display: flex; */
    position: relative;
    /* opacity: 0; */
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
  }