<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <img src="logo-radius.png" alt="Logo">
            <p><span>M</span>EJORES PRECIOS <span>& L</span>IDERZAGO MERCANTIL GENERANDO <span>SOLUCIONES</span></p>
        </div>
        <!-- <div class="direccion">
            <p>Dirección</p>
            <p>Calle Martí #128, Pinar del Río, Cuba.</p>
        </div> -->
        <div class="contacto">
            <p class="titulo">Contáctanos</p>
            <div class="contacto-items">
                <a href="{{wspLink}}" class="contacto-item"><img src="whatsapp.png" alt="WhatsApp-logo" ></a>
                <a href="{{faceGroupLink}}" class="contacto-item"><img src="facebook.png" alt="Facebook-logo" ></a>
                <!-- <a href="{{wspLink}}" class="contacto-item"><img src="facebook.png" alt="Facebook-logo" ></a> -->
                <!-- <img src="facebook.png" alt="Logo" class="contacto-item" [routerLink]="['departamentos']">  -->
            </div>
            <p>Siempre en Línea</p>
            <div class="iconos-contacto">
            </div>
        </div>
    </div>
    <div class="firma">
        <p>M&L SOLUCIONES 2024</p>
        <p>TODOS LOS DERECHOS RESERVADOS</p>
    </div>
</footer>
