<footer class="footer">
    <div class="footer-container">
        <div class="about">
            <img src="logo-radius.png" alt="Logo">
            <p><span>M</span>EJORES PRECIOS <span>& L</span>IDERZAGO MERCANTIL GENERANDO <span>SOLUCIONES</span></p>
        </div>
        <!-- <div class="direccion">
            <p>Dirección</p>
            <p>Calle Martí #128, Pinar del Río, Cuba.</p>
        </div> -->
        <div class="contacto">
            <p class="titulo">Contáctanos</p>
            <p>Siempre en Línea</p>
            <div class="iconos-contacto">
            </div>
        </div>
    </div>
    <div class="firma">
        <p>M&L SOLUCIONES 2024</p>
        <p>TODOS LOS DERECHOS RESERVADOS</p>
    </div>
</footer>
