<div class="buscar-container">
    @if (departamentos.length > 0) {
    <p class="title-busqueda">Departamentos</p>
    <div class="buscar-departamentos">
        @for (departamento of departamentos; track $index) {
        <app-tarjeta-departamento [departamento]="departamento"
            [routerLink]="[ '/departamentos', departamento.idDepartamento]">
        </app-tarjeta-departamento>
        }
    </div>
    }
    @if (categorias.length > 0) {
    <div class="buscar-categorias">
        <p class="title-busqueda">Categorías</p>
        <ul class="categoria">
            @for (cat of categorias; track $index) {
            <app-tarjeta-categoria [categoria]="cat"></app-tarjeta-categoria>
            <hr>
            }
        </ul>
    </div>
    }
    @if (productos.length > 0) {
    <div class="buscar-productos">
        <p class="title-busqueda">Productos</p>
        <div class="producto-container">
            @for (producto of productos; track $index) {
            <app-tarjeta-producto [producto]="producto"></app-tarjeta-producto>

            }
        </div>
    </div>
    }
    @if (sinResultados()) {
    <div class="sin-resultados">
        <p>Lo sentimos, no hay resultados para tu búsqueda</p>
    </div>
    }
</div>