.moneda {
  display: flex;
  align-items: center;
}

span{
    color: white;
    font-size: medium;
    /* margin-right: 5px; */
}

.btn-moneda {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
}

.flecha {
  width: 15px;
}

/* .emoji{
  transform: var(--transform-e, rotate(180deg));
} */

/* button{
  margin: 0;
  padding: 0;
  background-color: beige;
} */

.moneda-check {
  /* display: flex; */
  position: relative;
  /* opacity: 0; */
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

